<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DynamicLottery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="LotteData" type="DynamicLottery.ConfigHelper, DynamicLottery"/>
  </configSections>
  <userSettings>
    <DynamicLottery.Properties.Settings>
      <setting name="speed" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="changeCount" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="footerSize" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="fontSizeName" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="fontSizeBranch" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="fontSizeAward" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="fontSizeLotteCount" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="fontSizeRegNo" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="fontSizeSHName" serializeAs="String">
        <value>16</value>
      </setting>
    </DynamicLottery.Properties.Settings>
  </userSettings>
  <LotteData>
    <Lotte>
      <add id="1" name="Сугалаа" image="" count="24"/>
    </Lotte>
  </LotteData>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
